/**
 * Geniem roles admin styles
 */
.geniem-roles {

}

.geniem-roles__wrapper {
    display: flex;
    flex-flow: row wrap;
}

.geniem-roles__single-role {
    width: calc( 50% - 3rem );
    float: left;
    margin: 1rem 1rem 0rem 0rem;
    background: white;
    padding: 1rem;
}

.geniem-roles__slugs {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
}

.geniem-roles__slugs table {
    border-collapse: collapse;
}

.geniem-roles__slugs td {
    padding: 0.25rem;
}

.geniem-roles__slugs .child-menu td:first-child {
    padding-left: 2rem;
}

@media ( max-width: 768px ) {
    .geniem-roles__single-role {
        width: 100%;
    }
}
